<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/node_modules/bootstrap-icons/font/bootstrap-icons.css">
    <script defer src="/static/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/static/css/style.css">
    <script defer type="module" src="/static/js/script.js"></script>
    <title>TimeTubeTracker</title>
</head>

<body>
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark px-5">
        <div class="container-fluid">
            <a href="#home" class="navbar-brand fs-3 fw-bold">TimeTubeTracker</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <% if (user) { %>
                        <li class="nav-item p-2">
                            <a href="/logout" class="btn btn-primary fs-5" role="button">Logout</a>
                        </li>
                        <% } else { %>
                            <li class="nav-item p-2">
                                <button type="button" class="btn btn-primary fs-5" data-bs-toggle="modal"
                                    data-bs-target="#login-modal">Log in</button>
                            </li>
                            <li class="nav-item p-2">
                                <button type="button" class="btn btn-primary fs-5" data-bs-toggle="modal"
                                    data-bs-target="#signup-modal">Sign up</button>
                            </li>
                    <% } %>
                    <li class="nav-item p-2">
                        <a href="https://github.com/LORDyyyyy/timeTubeTracker" class="btn btn-primary fs-5"
                            target="_blank" role="button"><i class="bi bi-github"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Sign Up Modal -->
    <div class="modal fade" id="signup-modal" tabindex="-1" aria-labelledby="signup-modal-title" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="signup-modal-title">Sign Up</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="POST" id="signupForm">
                    <div class="modal-body">
                        <div id="signupErrorAlert" class="alert alert-danger d-none" role="alert">
                        </div>
                        <div class="mb-3">
                            <label for="signup-username" class="form-label">Username</label>
                            <input type="text" id="signup-username" class="form-control" placeholder="Enter a username">
                        </div>
                        <div class="mb-3">
                            <label for="signup-email" class="form-label">Email</label>
                            <input type="email" id="signup-email" class="form-control" placeholder="Enter your email">
                        </div>
                        <div class="mb-3">
                            <label for="signup-password" class="form-label">Password</label>
                            <input type="password" id="signup-password" class="form-control"
                                placeholder="Enter a password">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Sign Up</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Login Modal -->
    <div class="modal fade" id="login-modal" tabindex="-1" aria-labelledby="login-modal-title" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="login-modal-title">Login</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="POST" id="loginForm">
                    <div class="modal-body">
                        <div id="loginErrorAlert" class="alert alert-danger d-none" role="alert">
                        </div>
                        <div class="mb-3">
                            <label for="login-usernameEmail" class="form-label">Email or Username</label>
                            <input type="text" id="login-usernameOrEmail" class="form-control"
                                placeholder="Enter your email or username">
                        </div>
                        <div class="mb-3">
                            <label for="login-password" class="form-label">Password</label>
                            <input type="password" id="login-password" class="form-control"
                                placeholder="Enter your password">
                        </div>
                        <div class="mb-3 form-check">
                            <input type="checkbox" id="login-rememberMe" class="form-check-input">
                            <label for="login-rememberMe" class="form-check-label">Remember Me</label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Hero Section -->
    <section class="bg-dark text-light p-5 text-center text-sm-start">
        <div class="container">
            <div class="d-flex flex-column align-items-center justify-content-center">
                <div>
                    <h1>Welcome to <span class="text-primary">TimeTubeTracker</h1>
                    <p class="lead my-4">Know YouTube playlists watch time.</p>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Enter YouTube playlist link"
                            aria-label="Playlist Link" aria-describedby="button-addon2">
                        <button class="btn btn-primary" type="button" id="button-addon2">Calculate</button>
                    </div>
                    <div class="range_container">
                    <div class="sliders_control">
                        <input id="fromSlider" type="range" value="0" min="0" max="100" />
                        <span id="fromValue">0</span>
                        <input id="toSlider" type="range" value="40" min="0" max="100" />
                        <span id="toValue">40</span>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Results Section -->
    <section class="py-5">
        <div class="container">
            <h2 class="text-center mb-4">Time</h2>
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">Speed 1x</h5>
                            <p class="card-text">Total watch time: 2 hours 30 minutes</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">Speed 1.5x</h5>
                            <p class="card-text">Total watch time: 1 hour 40 minutes</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">Speed 2x</h5>
                            <p class="card-text">Total watch time: 1 hour 15 minutes</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Favorites Section -->
    <section id="favorites" class="py-5">
        <div class="container">
            <h2 class="text-center mb-4">Favorites</h2>
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Playlist 1</h5>
                            <p class="card-text">Total watch time: 2 hours</p>
                            <a href="#" class="btn btn-primary">View</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Playlist 2</h5>
                            <p class="card-text">Total watch time: 3 hours 15 minutes</p>
                            <a href="#" class="btn btn-primary">View</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Playlist 3</h5>
                            <p class="card-text">Total watch time: 1 hour 30 minutes</p>
                            <a href="#" class="btn btn-primary">View</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="bg-dark text-light py-5 text-1">
        <div class="container">
            <div class="row">
                <div class="text-center">
                    <p>Made with <i class="bi bi-heart-fill text-danger m-1"></i> by <a href="https://github.com/LORDyyyyy"
                            target="_blank">Mohammed Khalid</a>
                            and
                            <a href="https://github.com/mohamedtharwat000"
                            target="_blank">Mohamed Tharwat</a></p>
                    <p>&copy; <%= new Date().getFullYear() %> TimeTubeTracker. All rights reserved.</p>
                </div>
            </div>
    </footer>
</body>

</html>
