<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap-icons.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <script defer src="/static/js/bootstrap.bundle.min.js"></script>
    <script defer src="/static/js/script.js"></script>
    <title>
        <%= title %> | TimeTubeTracker
    </title>
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark px-5-md">
        <div class="container-fluid">
            <a href="#home" class="navbar-brand fs-3 fw-bold"> TimeTubeTracker </a>

            <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
                aria-controls="home-navebar" data-bs-target="#home-navebar" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse collapse justify-content-end" id="home-navebar" style>
                <ul class="navbar-nav">
                    <li class="nav-item p-2">
                        <a href="https://github.com/LORDyyyyy/timeTubeTracker" class=" btn btn-primary fs-5"
                            target="_blank" role="button"><i class="bi bi-github"></i></a>
                    </li>
                    <% if (user) { %>
                        <li class="nav-item p-2">
                            <a href="#" class=" btn btn-primary fs-5" role="button">Favorites</a>
                        </li>
                        <li class="nav-item p-2">
                            <a href="/api/logout" class=" btn btn-primary fs-5" role="button">Logout</a>
                        </li>
                        <% } else { %>
                            <li class="nav-item p-2">
                                <button type="button" class="btn btn-primary fs-5" data-bs-toggle="modal"
                                    data-bs-target="#login-modal">Log in</button>
                            </li>
                            <li class="nav-item p-2">
                                <button type="button" class="btn btn-primary fs-5">Sign up</button>
                            </li>
                            <% } %>
                </ul>
            </div>

        </div>
    </nav>



    <!-- Login Modal -->
    <div class="modal fade" id="login-modal" tabindex="-1" aria-labelledby="login-modal-title" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="login-modal-title">Login</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="POST" id="loginForm">
                    <div class="modal-body">
                        <div id="errorAlert" class="alert alert-danger d-none" role="alert">
                        </div>
                        <div class="mb-3">
                            <label for="login-usernameEmail" class="form-label">Email or Username</label>
                            <input type="text" id="login-usernameEmail" class="form-control"
                                placeholder="Enter your email or username">
                        </div>
                        <div class="mb-3">
                            <label for="login-password" class="form-label">Password</label>
                            <input type="password" id="login-password" class="form-control"
                                placeholder="Enter your password">
                        </div>
                        <div class="mb-3 form-check">
                            <input type="checkbox" id="login-rememberMe" class="form-check-input">
                            <label for="login-rememberMe" class="form-check-label">Remember Me</label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <section></section>
    <footer></footer>
</body>

</html>
